on:
    push:
        branches:
            - main
        tags:
            - 'v*.*.*'
jobs:
    print_hello:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello, World!"