on:
    push:
        branches:
            - main
    label:
        types:
            - created
jobs:
    print_hello:
        runs-on: ubuntu-latest
        steps:
            - name: Print Hello World
              run: echo "Hello, World!"